[Desktop Entry]
Encoding=UTF-8
Name=MX Live USB Maker
Name[am]=MX በ ቀጥታ-usb መፍጠሪያ
Name[ar]=MX Live USB Maker
Name[bg]=MX Live USB Maker
Name[ca]=MX Creador de USB autònoms
Name[cs]=MX Live USB Maker
Name[da]=MX Live USB-skaber
Name[de]=MX Live USB Erzeugung
Name[el]=MX Δημιουργός Live-usb
Name[es]=MX Construir Live-USB
Name[et]=MX Live USB Maker
Name[eu]=MX Live USB Maker
Name[fa]=MX Live USB Maker
Name[fi]=MX Live USB Maker
Name[fr]=MX Créateur de Live-usb
Name[he_IL]=MX Live USB Maker
Name[hi]=MX Live USB Maker
Name[hr]=MX Live USB Maker
Name[hu]=MX Live USB Maker
Name[id]=MX Live USB Maker
Name[is]=MX Live USB Maker
Name[it]=MX Crea Live USB
Name[ja]=MX Live USB Maker
Name[kk]=MX Live USB Maker
Name[ko]=MX Live USB Maker
Name[lt]=MX Live USB Maker
Name[mk]=MX Live USB Maker
Name[mr]=MX Live USB Maker
Name[nb]=MX Live USB Maker
Name[nl]=MX Live USB Maker
Name[pl]=MX Live USB Maker
Name[pt_BR]=MX Criador de USB executável
Name[pt]=MX-Criar USB-executável
Name[ro]=MX Live USB Maker
Name[ru]=MX Live USB Maker
Name[sk]=Vytvoriť LiveUSB
Name[sl]=MX Ustvarjalec za živi-usb pogon
Name[sq]=MX Live USB Maker
Name[sr]=MX Live USB Maker
Name[sv]=MX Live USB Maker
Name[tr]=MX Live USB Maker
Name[uk]=MX Live USB Maker
Name[zh_CN]=MX Live USB Maker
Name[zh_TW]=MX 製作現場版 USB
Comment=Create a full-featured live-usb
Comment[am]=ሙሉlገጽታ በ ቀጥታ-usb መፍጠሪያ
Comment[ar]=Create a full-featured live-usb
Comment[bg]=Създава live-usb
Comment[ca]=Crea un USB autònom complert
Comment[cs]=Create a full-featured live-usb
Comment[da]=Opret en live-usb med det hele
Comment[de]=Erzeugung eines voll ausgestatteten Live-USB-Sticks
Comment[el]=Δημιούργησε live-usb με πλήρη χαρακτηριστικά
Comment[es]=Construir Live-USB
Comment[et]=Create a full-featured live-usb
Comment[eu]=Create a full-featured live-usb
Comment[fa]=Create a full-featured live-usb
Comment[fi]=Create a full-featured live-usb
Comment[fr]=Créer un live-usb complet
Comment[he_IL]=Create a full-featured live-usb
Comment[hi]=Create a full-featured live-usb
Comment[hr]=Create a full-featured live-usb
Comment[hu]=Create a full-featured live-usb
Comment[id]=Create a full-featured live-usb
Comment[is]=Create a full-featured live-usb
Comment[it]=Crea una USB-Live con funzionalità completa
Comment[ja]=Create a full-featured live-usb
Comment[kk]=Create a full-featured live-usb
Comment[ko]=Create a full-featured live-usb
Comment[lt]=Create a full-featured live-usb
Comment[mk]=Create a full-featured live-usb
Comment[mr]=Create a full-featured live-usb
Comment[nb]=Create a full-featured live-usb
Comment[nl]=Maak een volledig voorziene live-usb
Comment[pl]=Utwórz w pełni funkcjonalny Live-USB
Comment[pt_BR]=Criar um sistema operacional, com todas suas funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[pt]=Criar um sistema operativo, com todas as funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[ro]=Create a full-featured live-usb
Comment[ru]=Create a full-featured live-usb
Comment[sk]=Tvorba LiveUSB s plno funkciami
Comment[sl]=Ustvarite popolnoma uporaben živi usb pogon
Comment[sq]=Create a full-featured live-usb
Comment[sr]=Create a full-featured live-usb
Comment[sv]=Skapa en live-usb med alla möjligheter
Comment[tr]=Tam özellikli bir live-usb oluşturun
Comment[uk]=Create a full-featured live-usb
Comment[zh_CN]=Create a full-featured live-usb
Comment[zh_TW]=創造功能完備的現場版 USB
Exec=mx-live-usb-maker
Terminal=false
Type=Application
Icon=mx-live-usb-maker
Categories=System;
NoDisplay=false
MimeType=application/x-cd-image;
