[Desktop Entry]
Encoding=UTF-8
Name=Live USB Maker
Name[am]=በ ቀጥታ-usb መፍጠሪያ
Name[ca]=Creador de USB autònoms
Name[cs]=Live USB Maker
Name[de]=Live USB Erzeugung
Name[el]=Δημιουργός Live-usb
Name[es]=Construir Live-USB
Name[fi]=Live USB Maker
Name[fr]=Créateur de Live-usb
Name[hi]=Live USB Maker
Name[hu]=Live USB Maker
Name[it]=Crea Live USB
Name[ja]=Live USB Maker
Name[kk]=Live USB Maker
Name[lt]=Live USB Maker
Name[nl]=Live USB Maker
Name[pl]=Live USB Maker
Name[pt]=Criar USB-executável
Name[pt_BR]=Live USB Maker
Name[ro]=Live USB Maker
Name[ru]=Live USB Maker
Name[sk]=Live USB Maker
Name[sv]=Live USB Maker
Name[tr]=Live USB Maker
Name[uk]=Live USB Maker
Name[zh_TW]=製作現場版 USB
Comment=Create a full-featured live-usb
Comment[am]=ሙሉlገጽታ በ ቀጥታ-usb መፍጠሪያ
Comment[ca]=Crea un USB autònom complert
Comment[cs]=Create a full-featured live-usb
Comment[de]=Erzeugung eines voll ausgestatteten Live-USB-Sticks
Comment[el]=Δημιούργησε live-usb με πλήρη χαρακτηριστικά
Comment[es]=Construir Live-USB
Comment[fi]=Create a full-featured live-usb
Comment[fr]=Créer un live-usb complet
Comment[hi]=Create a full-featured live-usb
Comment[hu]=Create a full-featured live-usb
Comment[it]=Crea una Live USB con tutte le funzionalità
Comment[ja]=Create a full-featured live-usb
Comment[kk]=Create a full-featured live-usb
Comment[lt]=Create a full-featured live-usb
Comment[nl]=Maak een volledig voorziene live-usb
Comment[pl]=Create a full-featured live-usb
Comment[pt]=Criar um sistema operativo, com todas as funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[pt_BR]=Create a full-featured live-usb
Comment[ro]=Create a full-featured live-usb
Comment[ru]=Create a full-featured live-usb
Comment[sk]=Create a full-featured live-usb
Comment[sv]=Skapa en live-usb med alla möjligheter
Comment[tr]=Tam özellikli bir live-usb oluşturun
Comment[uk]=Create a full-featured live-usb
Comment[zh_TW]=創造功能完備的現場版 USB
Exec=live-usb-maker-qt
Terminal=false
Type=Application
Icon=drive-removable-media-usb
Categories=System;
NoDisplay=false
